<!DOCTYPE html>
<html>
<head>
<!-- 
	                      ______________      __________
            Welcome on   /              \    /          \           
            _____       /     ______     \  /      __    \        
           /     |     /     /      \     \/      /  \    \ ________ 
    _____ |      |    |      |       |     |     |____\    |        \ 
   /   __\|      |    |      |       |     |               |    ___  \  
  /   /   |      |    |      \       /     |      _____    |   |   \  |
  \   \__ |      |    /\      \_____/      |     |     |   |   |___/  |  
   \_____/|      |___/  \                 /\     \     |   |         /
           \            /\_______________/  \_____\    /   /\_______/             
            \__________/                              /___/     


-->
	<meta charset="utf-8">
	<meta name="author" content="Katarína Golenyová, Erik Kandalík">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title> cLOAD - Internetové úložisko	</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	 <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/stars.js"></script>

    <!-- fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <script src="https://use.fontawesome.com/c411ed4f95.js"></script>

</head>
<body>
	<header>
		<ul id="navigation">
			<li><a href="/signin" class="menuSing">Login</a></li>
			<li><a href="#team" class="menuButton underline">Our Team</a></li>
			<li><a href="#func" class="menuButton underline">Functions</a></li>
			<li><a href="#about" class="menuButton underline">About</a></li>
			<li><a href="#navigation" class="menuButton underline">Home</a></li>
		</ul>
		
	<!-- Stars --> 
		<img src="images/h1.png" class="h1 h" alt="">
		<img src="images/h2.png" class="h2 h" alt="">
		<img src="images/h3.png" class="h3 h" alt="">

	<!-- Logo cLOAD -->
		<img id="logo" src="images/newlogo.png" alt="cLOAD logo" title="cLOAD logo">

	<!-- Small button "Up" -->
		<a class="menuButton" href="#navigation"><i class="fa fa-caret-up fa-2x" aria-hidden="true"></i></a>
	</header>

	<article id="about">
		<div class="about">
			<h1>Keep your files up and running all the time</h1>
			<p>Today we are surrounded by a lot of information in the form of ones and zeroes. We need not only to store these data but also to accesss them if necessary. That is why we must to hame them all the time.</p>

			<p>cLOAD is an internet storage that allows the user to store data and then open and download them to any device that has an Internet browser and nternet connection. </p>

		</div>	
		<div class="aboutBG"></div>
	</article>

	<article id="func">
		<h1>Why should you use cLOAD?</h1>
		<ul id="funcUL">
			<li>
				<img src="images/ico31.png" class="ico" alt="Icon Security" title="Icon Security">
				<h2>Security</h2>
				<p>Your files will be stored safely, and others will not be able to access them</p>
			</li>
			<li>
				<img src="images/ico11.png" class="ico" alt="Speed Icon" title="Speed icon">
				<h2>Speed</h2>
				<p>Thanks to the technologies used, it can handle many users at once without any problems</p>
			</li>
			<li>
				<img src="images/ico21.png" class="ico" alt="Simplify icon" title="Icon">
				<h2>Simplicity</h2>
				<p>a simple and intuitive interface will guarantee you 100% success whenever you need your files</p>
			</li>
		</ul>
	</article>

	<article id="about">
		<div class="about team">
			<h1>Few words about us</h1>
			<p>cLOAD was created as a school project by two students of SPSKEKE and open-source community enthusiasts - Katka Golenyová and Erik Kandalík. Our goal is to extend it under the GLP license for anyone who wants or needs it. </p>

			<p>So download, edit, implement and use.

			The source code and the necessary information can be found on our <a href="https://github.com/erikcek">GitHub</a></p>
			<p>Enjoy!</p>
		</div>	
		
		<div class="aboutBG teamBG"></div>
	</article>
	<footer>
		<ul id="posLeft">
			<li>Find us on GitHub: <a href="https://github.com/erikcek/cLOAD">https://github.com/erikcek/cLOAD</a></li>
			<li><a href="http://cload.tk/signup">Join to us!</a></li>
			<li>or <a href="http://cload.tk/signin">Sing in.</a></li>
			
		</ul>

		<ul id="posRight">
			<li>Katka Golenyová</li>
			<li><a href="mailto:katarina.golenyova@student.spseke.sk">katarina.golenyova@student.spseke.sk</a></li>
			<li>Erik Kandalík</li>
			<li><a href="mailto:erik.kandalik@student.spseke.sk">erik.kandalik@student.spseke.sk</a></li>	
		</ul>
		
	</footer>

</body>
</html>