<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Meta Data -->
	<meta charset="UTF-8">
	<title>Login | cLOAD</title>
	<meta name="author" content="Katarína Golenyová, Erik Kandalík">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Styles -->
	<link rel="stylesheet" href="css/login.css">

	<!-- Scripts 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/stars.js"></script>
-->
	<!-- Fonts and icons -->
	<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	
</head>
<body>
	<img src="images/moon.png" id="moon" alt="Moon">
	
	<form id="log" action="" method="POST">
		<a href="index.html"><img src="images/blogo.png" alt="cLOAD logo"></a>

		{{#each signInMessage}}
			<p id="error">{{this}}</p>
		{{/each}}

		<input type="text" placeholder="Name" name="username">
		<div id="pass">
			<input type="password" placeholder="Password" name="password">
			<a href="/forget" class="underline fpass">Forgot passwd?</a>
		</div>
		<input type="submit" value="Sing In"> or
		<a href="/auth/google" id="google">Sing in with Google+</a>
		<p>Not a member yet? <a href="/signup" class="underline"> Join now</a></p>

	</form>

	<img src="images/astronaut.png" id="astro" alt="Astronaut">

	<!-- Stars -->
	<img src="images/h4.png" class="h1 h" alt="Stars">
	<img src="images/h5.png" class="h2 h" alt="stars">
	<img src="images/h6.png" class="h3 h" alt="stars">

</body>
</html>