<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create new password | cLOAD</title>
		<!-- Styles -->
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<form id="pswd" action="" method="POST">
		<a href="index.html"><img src="/images/blogo.png" alt="cLOAD logo"></a>

		{{#each resetMessage}}
			<p id="error">{{this}}</p>
		{{/each}}

		<input type="password" placeholder="New password" name="password">
		<input type="password" placeholder="Repeat password" name="controlPassword">
		<input type="submit" value="Change password"> 

	</form>
</body>
</html>