<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	{{#each resetMessage}}
		<p>{{this}}</p>
	{{/each}}
	<form method="POST">
		New Password: <input type="password" name="password">
		New Password: <input type="password" name="controlPassword">
		<input type="submit">
	</form>

</body>
</html>