<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ user }} |  cLOAD - internetové úložisko</title>
	<meta name="author" content="Katarína Golenyová, Erik Kandalík">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	<div class="container" onclick="myFunction(this)">
  			<div class="bar1"></div>
  			<div class="bar2"></div>
 			<div class="bar3"></div>
		</div>
	<nav>
		<i class="fas fa-arrow-left"></i>
		<i class="fas fa-search "></i>
		<input type="text" placeholder="Search..">
		<ul class="right">
			<li onclick="showHideWindow()"><i class="fas fa-user"></i> {{ user }}</li>
			<li><a href="/logout"><i class="fas fa-power-off"></i></a></li>
		</ul>
	</nav>
<!-- Okno pri pridávaní priečinku -->
	<section id="okno">
        <div id="medzera"></div>
        <div id="oznam">
            <h1 id="h1_oznam" >New directory</h1>
            <span id="vklad_container">
              	<input type="text" id="vklad" placeholder="Zadaj meno priečinka">
            </span>
            
            <button class="subBtn btn" onclick="createDrectory()">Submit</button>
            <button onclick="showHideWindow()" class="closeBtn btn ">Close</button>
          </div>
     </section>

<!--- Message - --> 
	<div id="message">
		<p id="sprava"></p>
	</div>

<!-- Bočné vysúvacie menu -->
	<div id="mySidenav" class="sidenav">
		<img src="" alt="">
		<h5>Bookmarks</h5>
		<a href="#">Documents</a>
  		<a href="#">Pictures</a>
  		<a href="#">Movies</a>
 		<a href="#">Music</a>
 		<h5>Tools</h5>
 		<a href="#">Trash</a>
 		<a href="#">Settings</a>
		<a href="#" onclick="showNotes()">Notes</a>

		<div id="poznamky">
			<div class="note"><p onclick="showNotes() class="myNote">Moja poznámka 1</p><i class="noteI fas fa-user"></i><i class="noteI fas fa-user"></i></div>
			<form action="" class="poznamky">
				<input type="text" placeholder="Meno">
				<textarea name="newnote" id="" cols="30" rows="10"></textarea>
				<input type="submit"> 
			</form>
		</div>

 		<h5></h5>
 	</div>

	<div id="wrap">
		<h5>Directories</h5>

		<section id="directories">
			<div class="dir">Dir1</div>
			<div class="dir">Dir1</div>
			<div class="dir">Dir1</div>
			<div class="dir">Dir1</div>
			<div class="dir">Dir1</div>
			<div class="dir">Dir1</div>
			<div class="dir">Dir1</div>
			<div class="dir">Dir1</div>
		</section>

		<h5>Files</h5>

		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file"> 
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
		<div class="file">
			<div class="img">
			</div>
			<div class="name">File.img</div>
		</div>
	</div> 
<script type="text/javascript" src="js/socket.io-stream.js"></script>
<script type="text/javascript" src="js/fileUpload.js"></script>
<script>

function myFunction(x) {
	var $div = $("#mySidenav").css("width");
    x.classList.toggle("change");
    console.log($("#mySidenav").css("width"));
    	
	if ($div == "0px") {
	  $("#mySidenav").css("width","250px");
	  console.log("if");
	}

	else {
	  $("#mySidenav").css("width","0px");
	  console.log("else");
	}
}

function showNotes() {
	if ($("#poznamky").css("display") == "none") {
		$("#poznamky").css("display","block");
		$(".sidenav a").css("display","none");
		$(".sidenav h5").css("display","none");

	}

	else {
		$("#poznamky").css("display","none");
		$(".sidenav a").css("display","block");
		$(".sidenav h5").css("display","block");
	}

}

function showHideWindow(){
	if ($("#okno").css("display") == "none") {
		$("#okno").css("display","block");
	}

	else {
		$("#okno").css("display","none");
	}
}

function removeContent(element) {
	element.html("");
	console.log("inside");
}

function loadContent(element, nameArray) {
	removeContent(element);

	for(var i=0; i<nameArray.length; i++) {
		element.append("<div class='dir' onclick='openDirectory(this)'>" + nameArray[i] + "</div>\n");
	}
}

function openDirectory(e) {
	console.log(e);
	var name = e.innerHTML;
	console.log(name)
	socket.emit("openDirectory", {"name": name});
}


function message(text){
	$("#sprava").html(text);
	$("#message").css("display","block");
	$("#message").fadeOut(4000);
}

function createDrectory() {
	var name = $("#vklad").val();
	console.log(name);
	socket.emit("createNewDirectory", {
		name : name
	});

	showHideWindow();
	message("Priečinok bol pridaný!");
}

socket.emit("lsDirectories");

socket.on("lsDirectoriesReturn", (pole) => {
	loadContent($("#directories"), pole);
});

socket.on("openDirectoryReturn", () => {
	socket.emit("lsDirectories");
})


</script>

</body>
</html>