<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ user }} |  cLOAD - internetové úložisko</title>
	<meta name="author" content="Katarína Golenyová, Erik Kandalík">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/user.css">
<!-- Font awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
<!-- Google fonts - Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!-- Scripts  -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body id="test" onclick="deleteContextMenu()">

	<!-- Open/close sidebar ico -->
	<div class="container" onclick="myFunction(this)">
  		<div class="bar1"></div>
  		<div class="bar2"></div>
 		<div class="bar3"></div>
	</div>

	<!-- Top navigation -->
	<nav>
		<i onclick="returnToUpperDirectory()" title="Return to upper directory" class="fas fa-arrow-left"></i>
		<!--<i class="fas fa-search "></i>
		<input type="text" placeholder="Search..">-->
		<ul class="right">
			<li title="Account settings" ><i class="fas fa-user"></i> {{ user }}</li>
			<li><a href="/logout" title="Log out" id="logOut"><i class="fas fa-power-off"></i></a></li>
		</ul>
	</nav>


<!-- Okno pri pridávaní priečinku -->
	<section id="createDirectory">
        <div id="medzera"></div>
        <div id="advice">
            <h1 id="h1_oznam" >New directory</h1>
            <span id="vklad_container">
              	<input type="text" id="vklad" placeholder="Name of the directory">
            </span>
            
            <button class="subBtn btn" onclick="createDrectory()">Submit</button>
            <button onclick="hideWindow()" class="closeBtn btn ">Close</button>
          </div>
     </section>

<!-- Okno pri pridávaní suboru -->
	<section id="addFile">
        <div id="medzera"></div>
        <div id="advice">
            <h1 id="h1_oznam" >Add file</h1>
            <span id="vklad_container">
              	<input type="file" id="vklad" placeholder="Name of the directory">
            </span>
            
            <button class="subBtn btn" onclick="addFile()">Submit</button>
            <button onclick="hideWindow()" class="closeBtn btn ">Close</button>
          </div>
     </section>



<!-- context menu in body -->
     <div id="context">
     	<ul id="contextMenu">
     		<li onclick="showWindow('directory')" class="contextLi">
     			<i class="fas fa-plus cMenuIcon"></i>  Add directory</li>
     		<li onclick="showWindow('file')" class="contextLi">
     			<i class="fas fa-plus cMenuIcon" ></i>  Add file</li>
     	</ul>
     </div>

<!--  context menu for folders-->
	<div id="contextDir">
     	<ul id="contextMenu">
     			<li onclick="" class="contextLi">
     			<i class="fas fa-plus cMenuIcon" ></i> Open directory </li>
   
     		<li class="contextLi"><i class="fas fa-minus cMenuIcon"></i> Add directory to category</li>
     	</ul>
     </div>

<!--  context menu for files-->
	<div id="contextFile">
     	<ul id="contextMenu">
     		<li onclick="showWindow('file')" class="contextLi">
     			<i class="fas fa-plus cMenuIcon" ></i>  Add file</li>
     		
     		<li class="contextLi"><i class="fas fa-minus cMenuIcon"></i>  file</li>
     	</ul>
     </div>

<!-- Message - --> 
	<div id="message">
		<p id="sprava"></p>
	</div>

<!-- Bočné vysúvacie menu -->
	<div id="mySidenav" class="sidenav">
		<img src="" alt="">
		<h5>Bookmarks</h5>
			<a onclick="lsFIles()" href="#">All</a>
			<a onclick="lsFIles('Documents')" href="#">Documents</a>
	  		<a onclick="lsFIles('Pictures')" href="#">Pictures</a>
  			<a onclick="lsFIles('Movies')" href="#">Movies</a>
	 		<a onclick="lsFIles('Music')" href="#">Music</a>
	 		<a onclick="lsFIles('Othes')" href="#">Others</a>
 		<h5>Tools</h5>
 			<a href="#">Settings</a>
			<a href="#" onclick="showNotes()">Notes</a>

		<div id="poznamky">
			<div class="note"><p onclick="showNotes() class="myNote">Moja poznámka 1</p><i class="noteI fas fa-user"></i><i class="noteI fas fa-user"></i></div>
			<form action="" class="poznamky">
				<input type="text" placeholder="Meno">
				<textarea name="newnote" id="" cols="30" rows="10"></textarea>
				<input type="submit"> 
			</form>
		</div>

 		<h5></h5>
 	</div>
<!-- Wrap for files and directories -->
	<div id="wrap">
		<h5>Directories</h5>

		<section id="directories">
			
		</section>

		<h5>Files</h5>

		<section id="files">
			
		</section>
	</div> 

<!-- Upload a download indikátor -->
	<div id="indicator">
		<div id="panel" onclick="minimalize()">
			<a href="#" id="minimalize"> Uploading or downloading files </a>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		
	</div>





<script type="text/javascript" src="js/socket.io-stream.js"></script>
<script type="text/javascript" src="js/fileUpload.js"></script>
<script>
var nameOfElement;

function lsFIles(category="") {
	if (category && category != "") {
		socket.emit("lsFiles", {"category": category});
	}
	else {
		socket.emit("lsFiles");
	}
}

$(document).on("contextmenu", function (e) {

	deleteContextMenu();
    
    e.preventDefault();                 
    console.log("o");
    $("#context").css("left", e.pageX);   
    $("#context").css("top", e.pageY);    
    $("#context").fadeIn(500, startFocusOut()); 
});

function startFocusOut() {
    
    $(document).on("click", function () {   
        $("#context").hide(500);              
        $(document).off("click");           
     });
 }

function set_x_contextmenu_position(contextMenu, x) { //x  je xova suradnica kurzora myši a contextMenu je DOM element stránky
    if(x + contextMenu.offsetWidth > window.innerWidth) {
      x = x - contextMenu.offsetWidth;
    }
    return x;
}

function set_y_contextmenu_position(contextMenu, y) {
    y += document.body.scrollTop;
    if(y + contextMenu.offsetHeight > window.innerHeight + document.body.scrollTop) {
      y -=  contextMenu.offsetHeight * 2;
    }
    return y;
 }






function myFunction(x) {
	
	var $div = $("#mySidenav").css("width");
    x.classList.toggle("change");
    	
	if ($div == "0px") {
		$("#mySidenav").css("width","250px");
	}

	else {
		$("#mySidenav").css("width","0px");
	}
}





function showWindow(type){
	console.log(type);
	if (type == "directory") {
		$("#createDirectory").css("display","block");
	}

	else {
		$("#addFile").css("display","block");
	}
}

function hideWindow(){
	$("#createDirectory").css("display","none");
	$("#addFile").css("display","none");
}


function minimalize(){
	if ($(".indicatorArea").css("display") == "none") {
		$(".indicatorArea").css("display","block");
	}

	else{
		$(".indicatorArea").css("display","block");
	}
}





function removeContent(element) {
	element.html("");
}

function loadDirectoryContent(element, nameArray) {
	removeContent(element);

	for(var i=0; i<nameArray.length; i++) {
		element.append("<div class='dir' ondblclick='openDirectory(this)'>" + nameArray[i] + "</div>\n");
	}
}

function loadFileContent(element, array) {
	removeContent(element);
	console.log(array);
	for (var i=0; i<array.length; i++) {
		var typeOfFile;

		if (array[i].type) {
			typeOfFile = array[i].type.split("/");
		}
		else {
			typeOfFile = "";
		}
		console.log(typeOfFile);
		switch(typeOfFile[0]){
			case "text": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-alt'></i></div><div class='name'>" + array[i].name + "</div></div>");
				break;

			case "image": 
				element.append("<div id='ttest' class='file'><div class='img'><i class='fas fa-5x fa-file-image'></i></div><div class='name'>" + array[i].name + "</div></div>");
				break;

			case "audio": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-audio'></i></div><div class='name'>" + array[i].name + "</div></div>") ;
				break;

			case "video": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-video'></i></div><div class='name'>" + array[i].name + "</div></div>");
				break;

			case "application": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-alt'></i></div><div class='name'>" + array[i].name + "</div></div>") ;
				break;
			default: element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file'></i></div><div class='name'>" + array[i].name + "</div></div>") ;;
		}
	}
}







function openDirectory(e) {
	var name = e.innerHTML;
	socket.emit("openDirectory", {"name": name});
}

function returnToUpperDirectory() {
	socket.emit("returnToUpperDirectory");
}








function message(text){
	$("#sprava").html(text);
	$("#message").css("display","block").fadeOut(4000);
}

function createDrectory() {
	var name = $("#addDirectoryName").val();
	socket.emit("createNewDirectory", {
		name : name
	});

	showHideWindow();
	message("Priečinok bol pridaný!");
	socket.emit("lsDirectories");
	socket.on("lsDirectoriesReturn", (pole) => {
		loadDirectoryContent($("#directories"),pole)
	});
}

socket.emit("lsDirectories");
socket.emit("lsFiles");

socket.on("lsDirectoriesReturn", (pole) => {
	loadDirectoryContent($("#directories"), pole);
	setDirectoriesListener();
});

socket.on("openDirectoryReturn", () => {
	socket.emit("lsDirectories");
	socket.emit("lsFiles");
})

socket.on("lsFilesReturn", (pole) => {
	loadFileContent($("#files"), pole);
	setFileListener();
});

socket.on("returnToUpperDirectoryReturn", () => {
	socket.emit("lsDirectories");
	socket.emit("lsFiles");
});

socket.on("siteRefresh", () => {
	socket.emit("lsDirectories");
	socket.emit("lsFiles");
});

socket.on("errorMessage", () => {
	message(errorMessage);
})



function deleteContextMenu(){
	$("#context").css("display","none");
	$("#contextDir").css("display","none");
	$("#contextFile").css("display","none");
}

function setFileListener() {

	$(".file").on("contextmenu", function (e) {
		
		deleteContextMenu();
	    
	    e.preventDefault();    
	    e.stopPropagation();

	    console.log("OK");
	   
	   nameOfElement = e.target.parentElement.children[1].innerHTML;	
	    
	    $("#contextFile").css("left", e.pageX);   // For updating the menu position.
	    $("#contextFile").css("top", e.pageY);    // 
	    $("#contextFile").fadeIn(500, startFocusOut()); //  For bringing the context menu in picture.
	});
}

function startFocusOut() {

    $(".file").on("click", function () {   
        $("#contextFile").hide(500);              // To hide the context menu
        $(document).off("click");           
    });
}



function setDirectoriesListener(){

	$(".dir").bind("contextmenu", function (e) {
		
		e.preventDefault();  
		e.stopPropagation();               // To prevent the default context menu.
    	$("#contextDir").css("left", e.pageX);   // For updating the menu position.
	    $("#contextDir").css("top", e.pageY);    // 
	    $("#contextDir").fadeIn(500, startFocusOut()); //  For bringing the context menu in picture.
	});

	function startFocusOut() {
    	$(".dir").on("click", function () {   
    	    $("#contextDir").hide(500);              // To hide the context menu
    	    $(document).off("click");           
    	});
	}
}



</script>

</body>
</html>