<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ user }} |  cLOAD - internetové úložisko</title>
	<meta name="author" content="Katarína Golenyová, Erik Kandalík">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/user.css">
<!-- Font awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
<!-- Google fonts - Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!-- Scripts  -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body id="test" onclick="startFocusOut()">

	<!-- Open/close sidebar ico -->
	<div class="container" onclick="myFunction(this)">
  		<div class="bar1"></div>
  		<div class="bar2"></div>
 		<div class="bar3"></div>
	</div>

	<!-- Top navigation -->
	<nav>
		<i onclick="returnToUpperDirectory()" title="Return to upper directory" class="fas fa-arrow-left"></i>
		<!--<i class="fas fa-search "></i>
		<input type="text" placeholder="Search..">-->
		<ul class="right">
			<li title="Account settings" ><i class="fas fa-user"></i> {{ user }}</li>
			<li><a href="/logout" title="Log out" id="logOut"><i class="fas fa-power-off"></i></a></li>
		</ul>
	</nav>

	<div id="context">
     	<ul id="contextMenu">
     		
     	</ul>
     </div>


<!-- Okno pri pridávaní priečinku -->
	<section id="createDirectory">
        <div id="medzera"></div>
        <div id="advice">
            <h1 id="h1_oznam" >New directory</h1>
            <span id="vklad_container">
              	<input type="text" id="vklad" placeholder="Name of the directory">
            </span>
            
            <button class="subBtn btn" onclick="createDrectory()">Submit</button>
            <button onclick="hideWindow()" class="closeBtn btn ">Close</button>
          </div>
     </section>

<!-- Okno pri pridávaní suboru -->
	<section id="addFile">
        <div id="medzera"></div>
        <div id="advice">
            <h1 id="h1_oznam" >Add file</h1>
            <span id="vklad_container">
              	<input type="file" id="vklad" placeholder="Name of the directory">
            </span>
            
            <button class="subBtn btn" onclick="addFile()">Submit</button>
            <button onclick="hideWindow()" class="closeBtn btn ">Close</button>
          </div>
     </section>


<!-- Message - --> 
	<div id="message">
		<p id="sprava"></p>
	</div>

<!-- Bočné vysúvacie menu -->
	<div id="mySidenav" class="sidenav">
		<img src="" alt="">
		<h5>Bookmarks</h5>
			<a onclick="lsContent()" href="#">All</a>
			<a onclick="lsContent('Documents')" href="#">Documents</a>
	  		<a onclick="lsContent('Pictures')" href="#">Pictures</a>
  			<a onclick="lsContent('Movies')" href="#">Movies</a>
	 		<a onclick="lsContent('Music')" href="#">Music</a>
	 		<a onclick="lsContent('Othes')" href="#">Others</a>
 		<h5>Tools</h5>
 			<a href="#">Settings</a>
			<a href="#" onclick="showNotes()">Notes</a>

		<div id="poznamky">
			<div class="note"><p onclick="showNotes() class="myNote">Moja poznámka 1</p><i class="noteI fas fa-user"></i><i class="noteI fas fa-user"></i></div>
			<form action="" class="poznamky">
				<input type="text" placeholder="Meno">
				<textarea name="newnote" id="" cols="30" rows="10"></textarea>
				<input type="submit"> 
			</form>
		</div>

 		<h5></h5>
 	</div>
<!-- Wrap for files and directories -->
	<div id="wrap">
		<h5>Directories</h5>

		<section id="directories">
			
		</section>

		<h5>Files</h5>

		<section id="files">
			
		</section>
	</div> 

<!-- Upload a download indikátor -->
	<div id="indicator">
		<div id="panel" onclick="minimalize()">
			<a href="#" id="minimalize"> Uploading or downloading files </a>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		<div class="indicatorArea">
			<p id="fileName"><b>99%</b>  meno suboru</p>
			<div id="indc"></div>
		</div>
		
	</div>


 


<script type="text/javascript" src="js/socket.io-stream.js"></script>
<script type="text/javascript" src="js/fileUpload.js"></script>
<script type="text/javascript">

function lsFiles(category = "") {
	if (category && category != "") {
		socket.emit("lsFiles", {"category": category});
	}
	else {
		socket.emit("lsFiles");
	}
}

function lsDirect(category = ""){
	if (category && category != "") {
		socket.emit("lsDirectories", {"category": category});
	}
	else {
		socket.emit("lsDirectories");
	}
}

function lsContent(category = ""){
		lsDirect(category);
		lsFiles(category);
}

function addFileToCategory(category, name){
	socket.emit( "addFileToCategory", { "name" : name, "category" : category});
	console.log("file ok");
}

function addDirToCategory(category, name){
	socket.emit( "addDirectoryToCategory", { "name" : name, "category" : category});
	console.log("dir ok");
}

function myFunction(x) {
	
	var $div = $("#mySidenav").css("width");
    x.classList.toggle("change");
    	
	if ($div == "0px") {
		$("#mySidenav").css("width","250px");
	}

	else {
		$("#mySidenav").css("width","0px");
	}
}

function showWindow(type){

	console.log(type);

	if (type == "directory") {
		$("#createDirectory").css("display","block");
	}

	else {
		$("#addFile").css("display","block");
	}
}

function hideWindow(){
	$("#createDirectory").css("display","none");
	$("#addFile").css("display","none");
}


function minimalize(){
	if ($(".indicatorArea").css("display") == "none") {
		$(".indicatorArea").css("display","block");
		console.log("minimalize block ok ")
	}

	else{
		$(".indicatorArea").css("display","none");
		console.log("minimalize none ok");
	}
}





function removeContent(element) {
	element.html("");
}

function loadDirectoryContent(element, nameArray) {
	removeContent(element);

	for(var i=0; i<nameArray.length; i++) {
		element.append("<div class='dir' ondblclick='openDirectory(this)'>" + nameArray[i] + "</div>\n");
	}
}

function loadFileContent(element, array) {
	removeContent(element);

	for (var i=0; i<array.length; i++) {
		var typeOfFile;

		if (array[i].type) {
			typeOfFile = array[i].type.split("/");
		}
		else {
			typeOfFile = "";
		}
		
		switch(typeOfFile[0]){
			case "text": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-alt'></i></div><div class='name'>" + array[i].name + "</div></div>");
				break;

			case "image": 
				element.append("<div id='ttest' class='file'><div class='img'><i class='fas fa-5x fa-file-image'></i></div><div class='name'>" + array[i].name + "</div></div>");
				break;

			case "audio": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-audio'></i></div><div class='name'>" + array[i].name + "</div></div>") ;
				break;

			case "video": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-video'></i></div><div class='name'>" + array[i].name + "</div></div>");
				break;

			case "application": 
				element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file-alt'></i></div><div class='name'>" + array[i].name + "</div></div>") ;
				break;
			default: element.append("<div class='file'><div class='img'><i class='fas fa-5x fa-file'></i></div><div class='name'>" + array[i].name + "</div></div>") ;;
		}
	}
}

function openDirectory(e) {
	var name = e.innerHTML;
	socket.emit("openDirectory", {"name": name});
}
function openDirectoryByMenu(name) {
	
	console.log("open dir in menu ok");
	socket.emit("openDirectory", {"name": name});
}

function returnToUpperDirectory() {

	socket.emit("returnToUpperDirectory");
}

function message(text){
	$("#sprava").html(text);
	$("#message").css("display","block").fadeOut(4000);
}

function createDrectory() {
	var name = $("#addDirectoryName").val();
	socket.emit("createNewDirectory", {
		name : name
	});

	hideWindow();
	message("Priečinok bol pridaný!");

	socket.emit("lsDirectories");
	socket.on("lsDirectoriesReturn", (pole) => {
		loadDirectoryContent($("#directories"),pole)
	});
}

socket.emit("lsDirectories");
socket.emit("lsFiles");

socket.on("lsDirectoriesReturn", (pole) => {
	loadDirectoryContent($("#directories"), pole);
	setDirectoriesListener();
});

socket.on("openDirectoryReturn", () => {
	socket.emit("lsDirectories");
	socket.emit("lsFiles");
})

socket.on("lsFilesReturn", (pole) => {
	loadFileContent($("#files"), pole);
	setFileListener();
});

socket.on("returnToUpperDirectoryReturn", () => {
	socket.emit("lsDirectories");
	socket.emit("lsFiles");
});

socket.on("siteRefresh", () => {
	socket.emit("lsDirectories");
	socket.emit("lsFiles");
});

socket.on("errorMessage", () => {
	message(errorMessage);
})



$(document).on("contextmenu", function (e) {

	$(".contextLi").remove(); 
    e.preventDefault(); 
    e.stopPropagation();                

    $("#contextMenu").prepend("<li onclick='showWindow(\"file\")' class='contextLi'><i class='fas fa-plus cMenuIcon'></i> Add file </li>");
	$("#contextMenu").prepend("<li onclick='showWindow(\"directory\")' class='contextLi'><i class='fas fa-plus cMenuIcon'></i> Add directory </li>");
		

    $("#context").css("left", e.pageX);   
    $("#context").css("top", e.pageY);    
    $("#context").fadeIn(500, startFocusOut()); 
});

function startFocusOut() {
    
    $(document).on("click", function () {   
        $("#context").hide(00);              
        $(document).off("click"); 
    
    });
 }

function setFileListener() {

	$(".file").on("contextmenu", function (e) {

		$(".contextLi").remove(); 

	    e.preventDefault();    
	    e.stopPropagation();
	   
	   nameOfElement = e.target.parentElement.children[1].innerHTML;
		
		$("#contextMenu").append("<li class='contextLi'><i class='fas fa-plus cMenuIcon'></i> "+ nameOfElement +" </li>");
	
		// woq 
		// $("#contextMenu").append("<li onclick='showWindow('file')'  class='contextLi'><i class='fas fa-plus cMenuIcon'></i> Delete file </li>");
		// console.log("<li onclick='showWindow('file')'  class='contextLi'><i class='fas fa-plus cMenuIcon'></i> Delete file </li>");

		$("#contextMenu").append("<li onclick='download(\"" + nameOfElement + "\")' class='contextLi'><i class='fas fa-plus cMenuIcon'></i> Download file </li>");

		$("#contextMenu").append("<li class='contextLi shC'><i class='fas fa-plus cMenuIcon'></i> Add to category<ul id='category'><li class='categoryLi' onclick='addFileToCategory(\"Dokuments\"," + nameOfElement + ")'>Documents</li><li class='categoryLi' onclick='addFileToCategory(\"Pictures\"," + nameOfElement + ")' >Pictures</li><li class='categoryLi' onclick='addFileToCategory(\"Movies\"," + nameOfElement + ")'>Movies</li><li class='categoryLi' onclick='addFileToCategory(\"Music\"," + nameOfElement + ")'>Music</li><li class='categoryLi' onclick='addFileToCategory(\"Others\"," + nameOfElement + ")'>Others</li></ul></li>");

	    
	    $("#context").css("left", e.pageX);  
	    $("#context").css("top", e.pageY);    
	    $("#context").fadeIn(500, startFocusOut()); 
	});
}

function setDirectoriesListener(){

	$(".dir").on("contextmenu", function (e) {

		$(".contextLi").remove(); 

		e.preventDefault();  
		e.stopPropagation(); 

		nameOfElement = e.target.innerHTML; 

		$("#contextMenu").append("<li class='contextLi'><i class='fas fa-plus cMenuIcon'></i> " + nameOfElement + " </li>");

		$("#contextMenu").append("<li onclick='openDirectoryByMenu(\"" + nameOfElement + "\")' class='contextLi'><i class='fas fa-plus cMenuIcon'></i> Open directory </li>");
		// wop 
		// $("#contextMenu").append("<li onclick='' class='contextLi'><i class='fas fa-plus cMenuIcon'></i> Delete directory </li>");

		$("#contextMenu").append("<li onclick='' class='contextLi shC'><i class='fas fa-plus cMenuIcon'></i> Add to category<ul id='category'><li class='categoryLi' onclick='addDirToCategory(\"Dokuments\"," + nameOfElement + ")'>Documents</li><li class='categoryLi' onclick='addDirToCategory(\"Pictures\"," + nameOfElement + ")' >Pictures</li><li class='categoryLi' onclick='addDirToCategory(\"Movies\"," + nameOfElement + ")'>Movies</li><li class='categoryLi' onclick='addDirToCategory(\"Music\"," + nameOfElement + ")'>Music</li>	<li class='categoryLi' onclick='addDirToCategory(\"Others\"," + nameOfElement + ")'>Others</li></ul></li>");

    	$("#context").css("left", e.pageX);   
	    $("#context").css("top", e.pageY);    
	    $("#context").fadeIn(500, startFocusOut()); 
	});
}
</script>

</body>
</html>