body{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

h5{
	font-family: 'Roboto Mono', monospace;
	color: #818181;
}

/* ---------  MENU  --------- */
nav{
	padding: 0;
	box-shadow: 0 4px 2px -2px #80808085;
	text-align: center;
	height: 47px;
	color: #818181;
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;

}

/* --- IKONA MENU, IKONA X */
.container {
    display: inline-block;
    cursor: pointer;
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    z-index: 100;
    top: 0px;
    position: fixed;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #818181;
    margin: 6px 0;
    transition: 0.4s;
}

/* --- ZMENA IKONKY --- */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
}

/* --- UL S MENOM A LOGOUTOM ---*/
.right{
	display: inline-block;
	float: right;
}

li{
	display: inline-block;
	padding: 0 5px;
}

.right li:hover{
	color: black;
}

#logOut i{
	color: #818181;
}
#logOut i:hover{
	color: red;
}

/* --- VYHLADAVANIE ---*/
input{
	height: 26px;
    margin: 8px 0;
    width: 40%;
}

/* ------ DIV SO SUBORMI A PRIECINKAMI ------*/
#wrap{
	width: 70%;
	margin-left: 14%;
	padding-top: 40px;
}

/* --- PRIECINKY ---*/
.dir{
	margin: 10px 2.4%;
	display: inline-block;
	width: 17%;
	background-color:#e1e1e1;
	box-shadow: 4px 4px 2px -2px #80808085;
}

.dir:hover{
	box-shadow: 4px 4px 2px -2px #0e254785;
}

/* --- SUBORY --- */
.file{
	width: 20%;
	margin: 10px 2.4%;
	box-shadow: 4px 4px 2px -2px #80808085;
	display: inline-block;
}

.img{
	height: 150px;
	background: #767676;
}

.name{
	padding: 5px 0;
	padding-left: 10px;
}

/* --------- BOCNA NAVIGACIA ------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 4px -2px 2px -2px #80808085;
}

.sidenav h5{
	padding-left: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #353535;
}

/* --- POZNAMKY --- */

#poznamky{
	display: none;
}
.myNote{
	display: inline-block;
}

.noteI{
	display: inline-block;
}

.poznamky input{
	width: 90%;
	margin-left: 3%;
}

textarea{
	margin-left: 3%;
	width: 89%;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #818181; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}


/* Vyskakovacie okno pri pridávaní priečinku*/
 #okno{
	left: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	background: rgba(0,0,0,0.4);
	z-index: 999;
	margin-top: 0px;
	display: none;
}
#medzera{
	height: 20vh;
}

#oznam{
	margin: auto;
	background: white;
	box-shadow: 0px 4px 5px #6b6b6b;
	width: 40%;
	padding: 20px;
	border-radius: 2px;
}

#vklad{
	margin-bottom: 30px;
	width: 100%;
}

#tlacidla{
	text-align: center;
}

#tlacidla li {
	display: inline-block;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (min-width: 1601px){
	.dir,.file{
		margin: 30px 1.5%;
		width: 10%;
	}
}

@media only screen and (max-width: 1600px){
	.dir,.file{
		margin: 30px 1.5%;
		width: 13%;
	}
}

@media only screen and (max-width: 1366px){
	.dir,.file{
		margin: 30px 1.5%;
		width: 16%;
	}
}

@media only screen and (max-width: 1280px){
	.dir,.file{
		margin: 30px 1.5%;
		width: 21%;
	}
}

@media only screen and (max-width: 1180px){
	.dir,.file{
		margin: 30px 1.5%;
		width: 21%;
	}
}

@media only screen and (max-width: 880px){
	.dir,.file{
		margin: 30px 1.5%;
		width: 29%;
	}

	.name{
		padding: 3% 1.5%;
	}
}

@media only screen and (max-width: 600px){
	.dir,.file{
		margin: 20px 1.5%;
		width: 46%;
	}

	.right li:first-child{
		display: none;
	}
}

@media only screen and (max-width: 390px){
	.dir,.file{
		margin: 10px 1.5%;
		width: 96%;
	}
}
